#rulesTable tr:hover {
    background-color: #99ccff;
    cursor:pointer;
}
#conditionTable tr:hover{
    background-color: #99ccff;
    cursor:default;
}
#actionTable tr:hover{
    background-color: #99ccff;
    cursor:default;
}
#ruleDiv {
    overflow-x: scroll;
    margin-left: 49em;
    overflow-y: visible;
    padding-bottom: 1px;
}
.fixed-column {
    position: absolute;
    left: 0;
    top: auto;
    width:10em;
    height:150px
}
.fixed-column-2 {
    position: absolute;
    left: 140px;
    top: auto;
    width:40em;
    height:150px
}
.fixed-column-3 {
    position: absolute;
    left: 0;
    top: auto;
    width:10em;
    height:20px
}
.fixed-column-4 {
    position: absolute;
    left: 140px;
    top: auto;
    width:40em;
    height:20px
}

.action-column{
    top: auto;
    height:100px
}

.action-delete-column{
    top: auto;
    height:20px
}

.btn-next {
    background: #053f9d;
    color: #ffffff;
}
.btn-previous {
    background: #b6d1fc;
    color: black;
}

.btn-home {
    background: #a6a6a6;
    color: #ffffff;
}

.btn-next:hover, .btn-next:focus, .btn-next:active, .btn-next.active, .open > .dropdown-toggle.btn-next {
    background: #1a88ff;
    color: #ffffff;
}

.btn-next:active, .btn-next.active {
    background: #007299;
    box-shadow: none;
}

.btn-new-condition {
    background: #ff9980;
    color: Black;
}

.btn-new-action {
    background: #D3E397;
    color: Black;
}

.navbar-default {
    background-color: #053f9d;
    border-color: #2869d2;
    background-image: none;
    background-repeat: no-repeat;
}
.navbar-default1 {
    background-color: #ffffff;
    border-color: #ffffff;
    background-image: none;
    background-repeat: no-repeat;
}


.btn-box {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 6px 20px;
  transition: all .1s linear;
}
.btn-box:active, .btn-box.active  {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
  background: #1a88ff;
}
.btn-box:hover {
    background: #1a88ff;
    color: #ffffff;
}
.btn-box-active {
  border: 0;
  background: #1a88ff;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}
.btn-box-active:hover {
    background: #1a88ff;
    color: #ffffff;
}