.pk-toggle-button fieldset .slds-form-element__control .slds-radio_button-group{
    border: 0 !important;
}

.pk-toggle-button fieldset .slds-form-element__control .slds-radio_button-group .slds-radio_button:first-child{
    position: relative;
    right: -14px;
}

.pk-toggle-button fieldset .slds-form-element__control .slds-radio_button-group .slds-radio_button + .slds-radio_button{
    border-left: 0;
}

.pk-toggle-button fieldset .slds-form-element__control .slds-radio_button-group .slds-radio_button .slds-radio_button__label{
    height: 24px;   
    line-height: 24px;
}

.pk-toggle-button fieldset .slds-form-element__control .slds-radio_button-group .slds-radio_button .slds-radio_button__label .slds-radio_faux{
    font-size: 12px;
    font-weight: normal;
    color: #008AA6;
    vertical-align: super;
}

.pk-toggle-button fieldset .slds-form-element__control .slds-radio_button-group .slds-radio_button .slds-radio_button__label{
    box-shadow: 0 0 6px 0 rgba(181,181,181,0.5);
    border-radius: 16px !important;
    border: 0;
}

.pk-toggle-button fieldset .slds-form-element__control .slds-radio_button-group .slds-radio_button .slds-radio_button__label{
    box-shadow: 0 0 6px 0 rgba(181,181,181,0.5);
    border-radius: 16px !important;
    border: 0;
}

.pk-toggle-button fieldset .slds-form-element__control .slds-radio_button-group .slds-radio_button [type="radio"]:checked + .slds-radio_button__label{
    background-color: #008AA6;
    height: 20px;
    line-height: 16px;
}

.pk-toggle-button fieldset .slds-form-element__control .slds-radio_button-group .slds-radio_button [type="radio"]:checked + .slds-radio_button__label .slds-radio_faux{
    color: white;
    vertical-align: middle;
}

.pk-verticalincrementor .btn-decr, .slds-input__button_decrement {
    border-right: 1px solid #8091A5;
    height: 80%;
    border-radius: 0;
    left: 2rem;
}

.pk-verticalincrementor .slds-input {
    width: 168px;
}

/* .pk-verticalincrementor .slds-form-element__control .btn-decr, .slds-input__button_decrement button{
    right: 1rem ;
} */

.pk-verticalincrementor .btn-incr, .slds-input__button_increment {
    border-left: 1px solid #8091A5;
    height: 80%;
    border-radius: 0;   
    right: 2rem;
}

/* .pk-verticalincrementor .slds-form-element__control .btn-incr, .slds-input__button_increment button lightning-primitive-icon {
    left: 1rem;
} */

.pk-input-date lightning-datepicker .slds-form-element .slds-form-element__control, .slds-input-has-icon, .slds-input-has-icon_right{
    height: 48px;
}

.pk-input-date lightning-datepicker .slds-form-element .slds-form-element__control .slds-input__icon, .slds-input__icon_right{
    height: 22px;
    width: 20px;
    margin-top: -0.65rem;
}

.pk-input-date lightning-datepicker .slds-form-element .slds-button, .slds-button_icon, .slds-button_icon-bare {
    color: #008AA6;
}

.pk-input-date lightning-datepicker .slds-form-element .slds-form-element__control .slds-input__icon button lightning-primitive-icon .slds-button__icon {
    height: 22px;
    width: 20px;
}

.pk-input-date lightning-datepicker .slds-form-element .slds-form-element__control lightning-calendar .slds-datepicker, .slds-dropdown lightning-focus-trap slot button{
    color: #008AA6;
    /* font-family: "Source Sans Pro"; */
    font-size: 16px;
    line-height: 30px;
}

.pk-input-date lightning-datepicker .slds-form-element .slds-form-element__control lightning-calendar .slds-datepicker tbody tr td.slds-is-selected .slds-day {
    background-color: #008AA6;
}

.pk-input-date lightning-datepicker .slds-form-element .slds-form-element__control lightning-calendar .slds-datepicker {
    left: 0 !important;
    right: 0 !important;
    max-width: 100%;
}

.slds-form-element__label {
    color: #3F4A56;
    /* font-family: "Source Sans Pro"; */
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0; 
}

.slds-input:focus,[role="combobox"] input[readonly]:focus{
    outline: none; 
    box-shadow: none;
    border: 1px solid #8091A5;
}

.slds-input,[role="combobox"] input[readonly] {
    height: 40px;
    border-radius: 2px;
    border: 1px solid #8091A5;
    color: #000;
    /* font-family: "Source Sans Pro"; */
    font-size: 16px;
    line-height: 24px;
}

.slds-input::placeholder {
    color: #8091A5;
}

.pk-input-radio fieldset .slds-form-element__control .slds-radio{   
    display: inline-block;
}

.pk-input-radio fieldset .slds-form-element__control .slds-radio .slds-radio__label .slds-radio_faux{   
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #008AA6;
}

.pk-input-radio fieldset .slds-form-element__control .slds-radio [type="radio"]:checked + .slds-radio__label .slds-radio_faux{   
    background-color: #008AA6;
    box-shadow: none;
}

.pk-input-radio fieldset .slds-form-element__control .slds-radio [type="radio"]:checked + .slds-radio__label .slds-radio_faux::after{   
    width: 0.8rem;
    height: 0.8rem;
    background-color: #FFFFFF; 
}

.pk-input-checkbox .slds-form-element__control .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    color: #23252D;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.pk-input-checkbox .slds-form-element__control .slds-checkbox .slds-checkbox__label .slds-checkbox_faux {
    height: 1.1rem;
    width: 1.1rem;
    margin-right: 1rem;
    border: 1px solid #008AA6;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: none;
}

.pk-input-checkbox .slds-form-element__control .slds-checkbox [type="checkbox"]:checked + .slds-checkbox__label .slds-checkbox_faux {
    background-color: #008AA6;
    border: none;
}

.pk-input-checkbox .slds-form-element__control .slds-checkbox [type="checkbox"]:checked + .slds-checkbox__label .slds-checkbox_faux::after {
    height: 0.3rem; 
    width: 0.6rem;
    border-color: #ffffff;
}

.pk-input-picklist .slds-form-element__control .slds-combobox_container .slds-combobox, .slds-dropdown-trigger .slds-listbox, .slds-listbox_vertical, .slds-dropdown,.slds-dropdown_left {
    border-radius: 0;
    padding: 0;
    right: 0;
}

.pk-input-picklist .slds-form-element__control .slds-combobox_container .slds-dropdown-trigger .slds-listbox .slds-listbox__option.slds-has-focus {
    background-color: #F2FCFE;
}

.pk-input-picklist .slds-form-element__control .slds-combobox_container .slds-dropdown-trigger .slds-listbox .slds-listbox__option{
    color: #3F4A56;
    /* font-family: "Source Sans Pro"; */
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
}


.pk-input-picklist .slds-form-element__control .slds-combobox_container .slds-combobox .slds-listbox .slds-media .slds-media__figure {
    display: none;
}

.slds-button, .slds-button_brand {
    /* font-family: "Source Sans Pro"; */
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

.pk-secondary-button button {
    background: white;
    border: 1px solid #008AA6;
    color: #008AA6;
    outline: none;
    border-radius: 2px;
    padding: 12px 36px;
}

.pk-secondary-button button:hover {
   
}

.pk-secondary-button button:disabled {
    
}

.pk-primary-button button {
    background: #008AA6;
    outline: none;
    border-radius: 2px;
    padding: 12px 36px;
    color: #fff;
}

.pk-primary-button button:hover {
    background: #004554;
    
}

.pk-primary-button button:disabled {
    background: #004554;
    
}

.pk-turquoise1 {
    color: #008AA6;
}

.pk-turquoise2 {
    color: #004554;
}

.pk-turquoise3 {
    color: #07B1D5;
}

.pk-turquoise4 {
    color: #9DEDF9;
}

.pk-turquoise5 {
    color: #B0F1FB;
}

.pk-turquoise6 {
    color: #D2F8FF;
}

.pk-turquoise7 {
    color: #E2FBFF;
}

.pk-turquoise8 {
    color: #F2FCFE;
}

.pk-grey1 {
    color: #16181E;
}

.pk-grey2 {
    color: #313541;
}

.pk-grey3 {
    color: #3F4A56;
}

.pk-grey4 {
    color: #667587;
}

.pk-grey5 {
    color: #8091A5;
}

.pk-grey6 {
    color: #B0BAC5;
}

.pk-grey7 {
    color: #DFE6EE;
}

.pk-grey8 {
    color: #F9F9F9;
}

.pk-grey9 {
    color: #F4F7FA;
}

.pk-grey10 {
    color: #E0E0E0;
}

.pk-grey11 {
    color: #3B4550;
}

.pk-white {
    color: #FFFFFF;
}

.pk-black {
    color: #000000;
}

.pk-red1 {
    color: #F2522A;
}

.pk-red2 {
    color:#FFC8C6;
}

.pk-red3 {
    color:#9F0600;
}

.pk-red4 {
    color: #C23934;
}

.pk-green1 {
    color: #CFF4A7;
}

.pk-green2 {
    color:#3C5B1B;
}

.pk-green3 {
    color: #6DD400;
}

.pk-yellow1 {
    color: #FFE18B;
}

.pk-yellow2 {
    color: #5D4C1D;
}

.pk-yellow3 {
    color:#FFCE0A;
}

.pk-h1 {
    font-size: 40px;
    font-style: "Noto Serif";
    font-weight: bold;
}

.pk-h2 {
    font-size: 32px;
    font-style: "Noto Serif";
    font-weight: bold;
}

.pk-h3 {
    font-size: 24px;
    font-style: "Noto Serif";
    font-weight: bold;
}

.pk-rg-h3 {
    font-size: 40px;
    font-style: "Source Sans Pro";
    font-weight: normal;
}

/* .pk-sb-h3 {
    font-size: 40px;
    font-style: "Source Sans Pro";
    font-weight: ;
} */

.pk-rg-h4 {
    font-size: 22px;
    font-style: "Source Sans Pro";
    font-weight: normal;
}

/* .pk-sb-h4 {
    font-size: 22px;
    font-style: "Source Sans Pro";
    font-weight: normal;
} */

.pk-rg-h5 {
    font-size: 20px;
    font-style: "Source Sans Pro";
    font-weight: normal;
}

/* .pk-sb-h5 {
    font-size: 20px;
    font-style: "Source Sans Pro";
    font-weight: normal;
} */

.pk-rg-h6 {
    font-size: 18px;
    font-style: "Source Sans Pro";
    font-weight: normal;
}

/* .pk-sb-h6 {
    font-size: 18px;
    font-style: "Source Sans Pro";
    font-weight: normal;
} */

.pk-rg-h7 {
    font-size: 16px;
    font-style: "Source Sans Pro";
    font-weight: normal;
}

/* .pk-sb-h7 {
    font-size: 16px;
    font-style: "Source Sans Pro";
    font-weight: normal;
} */

.pk-rg-h8 {
    font-size: 14px;
    font-style: "Source Sans Pro";
    font-weight: normal;
}

/* .pk-sb-h8 {
    font-size: 14px;
    font-style: "Source Sans Pro";
    font-weight: normal;
} */

.pk-rg-h9 {
    font-size: 12px;
    font-style: "Source Sans Pro";
    font-weight: normal;
}

/* .pk-sb-h9 {
    font-size: 12px;
    font-style: "Source Sans Pro";
    font-weight: normal;
} */

.pk-block-name__element-name--modifier-name--modifier-value{
    font-size: 12px;
}

.pk_two{
    font-size: 12px;
}
.pk__two{
    font-size: 12px;
}
.pk__two-one{
    font-size: 12px;
}
.pk__two--one{
    font-size: 12px;
}
.pk__two__one{
    font-size: 12px;
}

.pk__two__one--{
    font-size: 12px;
}
.pk__two__one__{
    font-size: 12px;
}
.page-banner {
    padding: 18px 0 48px;
}   
.slds-form-element_compound .slds-form-element__row {
    margin:0!important;
}
.slds-form-element_compound .slds-form-element{
    padding:0;
}
.align-center{
    text-align:center;
}
a{
    color:#008AA6;
}
